/*
    ================================================
    Handcrafted by Markus Danek <markus@creativebrains.net>
    Last updated on 13.12.2014
    appoint.io Marketing Page Stylesheet
    ================================================
    Contents:
    01    Basic
    02    Header
        a    Navigation
        b    Responsive Navigation Overlay
    ================================================
    */

    /* ----------------------------------------------------------------------------------------------------------
    01 Basic ----------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------------- */

html, 
body {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    background: #f7f5f3;
    font-family: "museo-sans", "sans-serif";
}

button.ghost {
    background: transparent;
    padding: 8px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    text-transform: uppercase;
}

button.ghost.white {
    color: #FFF;
    border: 1px solid #FFFFFF;
}

    /* ----------------------------------------------------------------------------------------------------------
    02 Header ----------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------------- */

header {
    background: #232932;
    height: 85px;
}

header h1.logo {
    text-indent: -9999px;
    font-size: 1px;
    background: url("../img/appointio-logo-50.png") no-repeat;
    width: 50px;
    height: 50px;
    margin-top: 20px !important;
    padding: 0px !important;
}    

header h2  {
    margin-top: -48px;
    margin-left: 60px;
    color: #FFF;
    font-size: 24px;
}

    /* 02a - Navigation */

header nav {

}

header nav ul.desktop {
    float: right;
    margin-top: -30px;
}

header nav ul.desktop li {
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
}

header nav ul.desktop li.active {
    border-bottom: 1px solid #fdfdfd;
}

header nav ul.desktop li a {
    color: #FFFFFF;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    padding: 0 0 6px;
    font-family: "proxima-nova", "museo-sans", "sans-serif";
    font-weight: 300;
}

header nav ul.desktop li a:hover {
    border-bottom: 1px solid #fdfdfd;
}

@media (max-width: 768px) { 
    header nav ul.desktop {
        display: none;
    }

    #trigger-overlay {
        margin-right: 20px;
        margin-top: -40px;
    }
}

    /* 02b - Responsive Navigation Overlay */

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(35,41,50,1);
}

.overlay .overlay-close {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: none;
    background: url(../img/cross.png) no-repeat center center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100;
}

.overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    font-size: 35px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
}

.overlay ul li {
    display: block;
    height: 20%;
    height: calc(100% / 5);
    min-height: 54px;
}

.overlay ul li a {
    font-weight: 300;
    display: block;
    color: #fff;
    text-decoration: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
    text-d3ecoration: none;
    padding: 0 0 6px;
    font-family: "proxima-nova", "sans-serif";
}

.overlay ul li a:hover,
.overlay ul li a:focus {
    color: #fdfdfd;
    border-bottom: 1px solid #fdfdfd;
}

.overlay-appoint {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-appoint.open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.overlay-appoint nav {
    -webkit-perspective: 1200px;
    perspective: 1200px;
}

.overlay-appoint nav ul {
    opacity: 0.4;
    -webkit-transform: translateY(-25%) rotateX(35deg);
    transform: translateY(-25%) rotateX(35deg);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.overlay-appoint.open nav ul {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.overlay-appoint.close nav ul {
    -webkit-transform: translateY(25%) rotateX(-35deg);
    transform: translateY(25%) rotateX(-35deg);
}

@media screen and (max-height: 30.5em) {
    .overlay nav {
        height: 70%;
        font-size: 34px;
    }
    .overlay ul li {
        min-height: 34px;
    }
}

    /* ----------------------------------------------------------------------------------------------------------
    03 Home Page ------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------------- */

    /* 03a - Header Content */

section.hero-home {
    height: 100vh;
    background: url(../img/header-images/home-hero-85-compressor.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section.hero-home .content.container h1 {
    color: #FDFDFD;
    margin-top: 220px;
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    font-family: "museo-sans", "sans-serif";
}

section.hero-home .content.container p {
    color: #FDFDFD;
    text-align: center;
    margin-top: 35px;
    font-size: 24px;
    line-height: 40px;
    font-family: "museo-sans", "sans-serif";
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1s;
    -moz-animation-duration: 2s;
    -moz-animation-delay: 1s;
    animation-duration: 2s;
    animation-delay: 1s;
}

section.hero-home .content.container .subscribe {
    margin-top: 150px;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 3s;
    -moz-animation-duration: 3s;
    -moz-animation-delay: 3s;
    animation-duration: 3s;
    animation-delay: 3s;
}

section.hero-home .content.container .subscribe form input {
    background: transparent;
    color: #FFF;
    border: 2px solid #FFF;
    height: 50px;
    font-size: 14px;
    text-align: center;
    font-family: "proxima-nova", "sans-serif";
    position: relative;
}

section.hero-home .content.container .subscribe form input::-webkit-input-placeholder {
    color: #FFFFFF;
    opacity: 1;
}

section.hero-home .content.container .subscribe form input::-moz-input-placeholder {
    color: #FFFFFF;
    opacity: 1;
}
 
section.hero-home .content.container .subscribe form input:-moz-input-placeholder {
    color: #FFFFFF;
    opacity: 1;
}

section.hero-home .content.container .subscribe form input:-ms-input-placeholder {
    color: #FFFFFF;
    opacity: 1;
}

section.hero-home .content.container .subscribe form span button  {
    background: #FFF;
    height: 50px;
    color: #232932;
}

@media (max-width: 768px) {
    section.hero-home .content.container h1 {
        font-size: 24px;
        line-height: 40px;
    }
    section.hero-home .content.container p {
        font-size: 16px;
        line-height: 20px;
    }
    section.hero-home .content.container .subscribe {
        display: none;
    }
}

    /* 03b - Short Feature List */

section.home-short-features {
    padding: 50px 0;
    background: #FFF;
    position: relative;
    z-index: -999;
}

section.home-short-features .feature {
    text-align: center;
}

section.home-short-features .feature i {
    color: #232932;
}

section.home-short-features .feature h3 {
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.4em;
}

section.home-short-features .feature p {

}

    /* 03c - Feature Section User */

section.feature-user {
    background: #F7F7F7;
    padding: 50px 0;
    position: relative;
    z-index: -999;
}

section.feature-user .text {
}

section.feature-user .text h4 {
    color: #242a33;
    font-size: 25px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 50px;
}

section.feature-user .text ul li {
    list-style-type: none;
    margin-bottom: 40px;
    color: #73838E;
    font-size: 15px;
    line-height: 25px;
}

.step {
    position: absolute;
    width: 40px;
    height: 40px;
    display: block;
    border: 2px solid #73838e;
    border-radius: 100%;
    color: #73838e;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
}

.step:before {
    counter-increment: step;
    content: counters(step,'');
}

section.feature-user .text ul li p {
    margin: 0 0 0 60px;
}

section.feature-user .image {
    margin-top: 50px;
}

section.feature-user .image img {
    border: 5px solid #FFFFFF;
}

@media (max-width: 768px) { 
    section.feature-user .image img {
        display: none;
    }
}

    /* ----------------------------------------------------------------------------------------------------------
    04 Footer ------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------------- */

footer {
    background: #232932;
    height: 200px;
    color: #FFFFFF;
    padding-top: 50px;
    z-index: -999;
}

footer .logo {
    margin-top: -20px;
}

footer .links {
    text-align: center;
}

footer .links ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 50px;
}

footer .links ul li a {
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    font-family: "proxima-nova", "museo-sans", "sans-serif";
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    padding: 0 0 6px;
    font-size: 12px;
}

footer .links ul li a:hover {
    border-bottom: 1px solid #fdfdfd;
}

footer p.rights {
    margin-top: 40px;
    font-family: "proxima-nova", "museo-sans", "sans-serif";
}

footer .social ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}

footer .social ul li a {
    color: #FFFFFF;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
}

footer .social ul li a:hover {
    color: #73839B;
}

@media (max-width: 768px) {
    footer .col-xs-2,
    footer p.rights {
        display: none;
    }
    footer .links {
        margin-left: 50px;
    }
    footer .links ul li,
    footer .social ul li a {
        margin-bottom: 10px;
    }
    footer {
        display: none;
    }
}

    /* ----------------------------------------------------------------------------------------------------------
    04 Price Page ------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------------- */

section.hero-price {
    height: 40vh;
    background: url(../img/header-images/home-hero-85-compressor.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section.hero-price .content.container h1 {
    color: #FDFDFD;
    vertical-align: middle;
    text-align: center;
    font-size: 32px;
    margin-top: 100px;
    font-weight: bold;
    font-family: "museo-sans", "sans-serif";
}

section.price-table {
    position: relative;
    z-index: -999;
}

section.price-table h1 {
    max-width: 500px;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin: 50px auto 0 auto;
    font-family: "proxima-nova", "museo-sans", "sans-serif";
    font-weight: 100;
}

section.price-table .table {
    margin: 50px auto 0 auto;
    background: #59687E;
    height: 250px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #FFF;
    border-radius: 5px;
}

section.price-table .table ul {
    background: #59687E;
}

section.price-table .table ul li {
    font-family: "proxima-nova", "museo-sans", "sans-serif";
    font-weight: 100;
    list-style-type: none;
}

section.price-table .table ul li.euro {
    text-align: center;
    font-size: 48px;
    border-bottom: 1px solid #FFF;
    margin-bottom: 10px;
}

section.price-table .table ul li.month {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

section.price-table .table ul li.employee {
    text-align: center;
    font-size: 28px;
}

section.price-detail {
    background: #FFF;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
}

section.price-detail h1 {
    text-align: center;
    font-size: 30px;
}

section.price-detail table {
    width: 100%;
}

section.price-detail table tbody tr {
    border-bottom: 1px solid #E0E0E0;
    line-height: 50px;
}

section.price-detail table tbody tr td.align {
    text-align: right;
}

    /* ----------------------------------------------------------------------------------------------------------
    04 Team Page ------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------------- */

section.hero-team {
    height: 40vh;
    background: url(../img/header-images/team-hero.jpg) no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section.hero-team .content.container h1 {
    color: #FDFDFD;
    vertical-align: middle;
    text-align: center;
    font-size: 32px;
    margin-top: 100px;
    font-weight: bold;
    font-family: "museo-sans", "sans-serif";
}

section.team-info {
    background: #FFF;
    padding-bottom: 50px;
    z-index: -999;
    position: relative;
}

section.team-info h1 {
    max-width: 700px;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin: 50px auto 0 auto;
    font-family: "proxima-nova", "museo-sans", "sans-serif";
    font-weight: 100;
}

section.team-info .team-img {
    margin: 80px auto 0 auto;
}

section.team-info .team-img ul {
    text-align: center;
}

section.team-info .team-img ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 80px;
    margin-bottom: 20px;
}

section.team-info .team-img ul li p {
    text-align: center;
    color: #5d6569;
    margin: 8px 0;
}

section.team-info .team-img ul li span {
    display: block;
    text-align: center;
    color: #95a0a5;
}

section.team-info .team-img ul li img{
    width: 150px;
    height: 150px;
}

    /* ----------------------------------------------------------------------------------------------------------
    04 Contact Page ------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------------- */

section.hero-contact {
    height: 40vh;
    background: url(../img/header-images/team-hero.jpg) no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section.hero-contact .content.container h1 {
    color: #FDFDFD;
    vertical-align: middle;
    text-align: center;
    font-size: 32px;
    margin-top: 100px;
    font-weight: bold;
    font-family: "museo-sans", "sans-serif";
}

section.contact {
    padding-bottom: 50px;
    z-index: -999;
    position: relative;
}

section.contact h1 {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin: 50px auto 0 auto;
    font-family: "proxima-nova", "museo-sans", "sans-serif";
    font-weight: 100;
}

section.contact h3 {
    font-weight: 300;
}

section.contact p {
    font-size: 16px;
    line-height: 26px;
}

    /* ----------------------------------------------------------------------------------------------------------
    04 Contact Page ------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------------- */

section.hero-tos {
    height: 40vh;
    background: url(../img/header-images/team-hero.jpg) no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section.hero-tos .content.container h1 {
    color: #FDFDFD;
    vertical-align: middle;
    text-align: center;
    font-size: 32px;
    margin-top: 100px;
    font-weight: bold;
    font-family: "museo-sans", "sans-serif";
}

section.tos {
    padding-bottom: 50px;
    z-index: -999;
    position: relative;
}

section.tos h1 {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin: 50px auto 0 auto;
    font-family: "proxima-nova", "museo-sans", "sans-serif";
    font-weight: 100;
}

section.tos h3 {
    font-weight: 300;
}

section.tos p {
    font-size: 16px;
    line-height: 26px;
}

    /* ----------------------------------------------------------------------------------------------------------
    04 Contact Page ------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------------- */

section.hero-privacy {
    height: 40vh;
    background: url(../img/header-images/team-hero.jpg) no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section.hero-privacy .content.container h1 {
    color: #FDFDFD;
    vertical-align: middle;
    text-align: center;
    font-size: 32px;
    margin-top: 100px;
    font-weight: bold;
    font-family: "museo-sans", "sans-serif";
}

section.privacy {
    padding-bottom: 50px;
    z-index: -999;
    position: relative;
}

section.privacy h1 {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin: 50px auto 0 auto;
    font-family: "proxima-nova", "museo-sans", "sans-serif";
    font-weight: 100;
}

section.privacy h3 {
    font-weight: 300;
}

section.privacy p {
    font-size: 16px;
    line-height: 26px;
}

























